<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="/styles.css" rel="stylesheet">
  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto' rel='stylesheet' type='text/css'>
</head>

<head>
  <meta charset = "utf-8">
  <link href="/styles.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <h3>Marwi on the Trail</h3>
  </header>

  <nav>
    <ul>
      <li class = "navButton"><a href="/index.html">Home</a></li>
      <li class = "navButton"><a href = "/about.html">About Me</a></li>
    </ul>
  </nav>
</body>

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/styles.css" rel="stylesheet">
  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto' rel='stylesheet' type='text/css'>
</head>
