<!DOCTYPE html>
<html lang="en">
<div align="center"><!-- big image -->
        <div class="header-image"><img src="css/zion-canyon-national-park.jpg"></div><!-- end of big image-->
</div><!-- end of center image class-->
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <h3>{{ site.title }}</h3>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <div class="container">
